@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "tailwindcss";

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-family: "Inter", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

button,
select {
  @apply cursor-pointer transition-all duration-300 focus:outline-none;
}

a {
  @apply cursor-pointer transition-colors duration-300;
}

img {
  @apply select-none;
}

ul {
  @apply list-none p-0 m-0;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .slick-slide > div {
    padding: 0 !important;
  }
}

.custom-bullet {
  @apply w-3 h-3 bg-gray-300 rounded-full opacity-100 transition-all duration-300 mx-1;
}

.custom-bullet-active {
  @apply bg-[#029FAE] w-5;
}

.custom-select option {
  color: black;
  background-color: white;
}

.custom-select option:hover {
  background-color: #007580;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 40px;
}
