@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "tailwindcss";

html,
body {
  font-family: "Inter", sans-serif;
  /* @apply text-gray-900; */
}

button,
select {
  @apply cursor-pointer transition-all duration-300 focus:outline-none;
}

a {
  @apply cursor-pointer transition-colors duration-300;
}

img {
  @apply select-none;
}

ul {
  @apply list-none p-0 m-0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-gray-900;
} */

.slick-slide > div {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .slick-slide > div {
    padding: 0 !important;
  }
}

.custom-bullet {
  @apply w-3 h-3 bg-gray-300 rounded-full opacity-100 transition-all duration-300 mx-1;
}

.custom-bullet-active {
  @apply bg-[#029FAE] w-5;
}
